<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid" style="padding:0;background-image:linear-gradient(#feefae, #fae692);text-align: center">
		Angular+AWS Serverless demo. <a href="https://github.com/CloudTara/angular-aws-serverless-demo/blob/master/README.md" target="_blank">click
			here
		</a> for architecture details.
	</div>
	<div class="container">
		<span style="color:white;">
			<img src="assets/img/logo.png" height=30 width=30 alt="logo" />Job Search Portal
		</span>
	</div>
</nav>